# Ignore node_modules
node_modules/


# Ignore environment variables
.env

# Ignore build files
build/

# Ignore dependencies lock files (optional)
package-lock.json
yarn.lock

# Ignore all .js files in src directory
src/**/*.js